@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Ubuntu:wght@300;400;700&display=swap");

/* =================== */
/*       root          */
/* =================== */

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

/* =================== */
/*       Typography    */
/* =================== */

/* ----- Navigation ----- */

h1 {
  font-family: "Lora", serif;
  color: #143774;
  font-size: 2rem;
  font-weight: normal;
}

nav p {
  color: #1792d2;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  text-align: center;
  font-weight: bold;
}

nav li {
  list-style: none;
}

nav a {
  text-transform: uppercase;
  color: #717171;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 3.2px;
}

/* -----    Main  ----- */

h3 {
  font-family: "Lora", serif;
  color: #143774;
  font-size: 1.3em;
  font-weight: 400;
}

p {
  color: #707070;
}

.img-date p {
  font-size: 0.5em;
}

main p {
  font-weight: light;
  font-size: 1rem;
  opacity: 0.8;
}

main span {
  font-weight: bold;
}

.cr-link {
  font-size: 0.8rem;
  color: #1792d2;
  text-decoration: none;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-weight: bold;
}

.section-3-container p {
  font-size: 0.9rem;
  color: #143774;
  text-align: center;
  font-weight: 300;
}

.section-4-container h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #143774;
  letter-spacing: 0.4rem;
}

.section-4-container p {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  color: #143774;
}

.copyright h3,
.copyright p {
  font-size: 1.1rem;
  color: #ebebeb;
  text-align: center;
  margin: 0 auto;
}

/* =================== */
/*       Layout        */
/* =================== */

/* ----- Navigation ----- */
header {
  background-color: #f8f8f8;
  margin-bottom: 2.5em;
}

.nav-container {
  padding: 1em;
  text-align: center;
}

nav h1 {
  margin-bottom: 0;
}

nav p {
  margin-top: 0;
}

li {
  margin-bottom: 1.5em;
}

.current-page {
  padding-bottom: 0.3em;
  border-bottom: 2px solid #717171;
}

/* -----    Main  ----- */
main {
  display: flex;
  flex-direction: column;
}

main section {
  margin: 0 auto;
  width: 95%;
}

main img {
  width: 100%;
}

.img-date {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 0;
}

.img-date p {
  text-align: right;
  margin-top: 2em;
  margin-bottom: 0;
}

.post-container h3 {
  margin-top: 0;
}

main p {
  margin-top: 0;
  margin-bottom: 2em;
}

.pc-1 {
  border-bottom: 1px solid #707070;
  margin-bottom: 2em;
}

.section-3-container {
  border: 20px solid #ebebeb;
  margin-bottom: 2em;
  width: 85%;
}

.section-3-container img {
  width: 90%;
  height: 133px;
  object-fit: cover;
  padding: 1em;
  margin: 2.5em auto 0.5em;
}

.section-3-container p {
  margin-top: 0;
}

.section-4-container {
  width: 85%;
  border: 20px solid #ebebeb;
  margin: 1em;
}

.section-4-container div {
  margin: 0 auto;
}

.section-4-container img {
  width: 90%;
  height: 87px;
  object-fit: cover;
  padding: 1em;
}

.section-4-container h2,
.section-4-container p {
  margin-left: 1em;
}

.underline {
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 2em;
  width: 90%;
}

footer {
  background-color: #143774;
  height: 209px;
  padding: 1em;
}

.copyright {
  padding: 0.5em;
  width: 90%;
  margin-top: 4em;
}

.copyright h3,
.copyright p {
  opacity: 0.7;
}

.copyright h3 {
  width: 189px;
  margin-bottom: 0.8em;
}
.copyright p {
  width: 124px;
}

/* =================== */
/*       Media Query   */
/* =================== */

@media (min-width: 600px) {
  header {
    padding: 2em;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
  }

  .nav-title {
    margin-top: 1em;
  }

  ul {
    display: flex;
    justify-content: end;
    margin-top: 3.5em;
  }

  li a {
    font-size: 1rem;
    padding: 1em;
  }
}
